* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    /* min-height: calc(100vh - 1em); */
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.hidden {
    display: none;
}


table {
    border-collapse: collapse; 
}

table, th, td {
    border: 1px solid lightgray; 
}

thead tr, tbody tr:nth-child(even) {
    background-color: lightgray;
}

.btn {
    border: 0;
    border-radius: 0.5em;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}

.add-book {
    margin: 0.6em auto;
    width: 100px;
}

.read {
    background-color: rgb(78, 179, 212);
}

.update {
    background-color: rgb(236, 182, 82);
}

.delete {
    background-color: hsl(27, 88%, 54%);
}

.book-details {
    text-align: center;
}

.book-details img {
    width: 60%;
}